.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px;

    &__description {
        display: flex;
        align-items: center;

        &--img {
            margin: 0 24px;

            img {
                width: 150px;
            }
        }

        &--title {
            p {
                font-size: 20px;
                margin-top: 16px;
                margin-bottom: 0;
            }
        }

        &--price {
            font-size: 26px;
            text-align: center;

            p {
                margin-bottom: 0;
            }
        }

        &--delete {
            text-align: center;
            margin: 30px;
        }
    }
}

@media screen and (max-width: 790px) {
    .cart__item {
        flex-direction: column;

        &__description {
            &--img {
                margin-left: 0;
            }

            &--delete {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .cart__item {
        padding: 24px 0;

        &__description {
            &:first-child {
                flex-direction: column;
            }

            &--img {
                margin: 0;
            }

            &--title {
                margin-top: 16px;
            }
        }
    }
}