.help__container {
    max-width: 1140px;
    margin: 40px auto;
    padding: 0 16px;

    .help__title {
        margin: 30px 0;
    }

    .help__questions {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;

        .help__boxes {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            row-gap: 20px;

            &--box {
                width: 95%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px;
                border-radius: 8px;
                box-shadow: 0 3px 6px rgb(0 0 0 / 20%);

                p {
                    margin: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .help__container {
        .help__questions {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .help__boxes {
                width: 100%;

                &--box {
                    width: 100%;
                    height: min-content;
                }
            }
        }
    }
}