.navbar__cart__link {
    text-decoration: none;
}

.navbar__cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 16px;
    color: white;

    span {
        span {
            top: 5%;
            background-color: #D8AD00;
        }
    }
}