.itemListContainer {
    max-width: 1210px;
    margin: 32px auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 0 16px;
}

.itemListContainer__categories {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 6px 1px rgb(0 0 0 / 20%);
    overflow: hidden;
    margin: 0 auto;
}

.itemListContainer__title {
    font-size: 22px;
    font-weight: 700;
    padding: 16px;
    margin-bottom: 0;
}

.itemListContainer__category {
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: black;

    &:hover {
        color: black;
        text-decoration: underline;
    }
}

.itemListContainer__catalogo {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px 0;
}

@media screen and (max-width: 900px) {
    .itemListContainer {
        grid-template-columns: 100%;
        gap: 16px 0;
    }
}

@media screen and (min-width: 525px) and (max-width: 900px) {
    .itemListContainer__categories {
        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            margin-right: 2em;
            display: flex;
            gap: 2em;
            align-items: center;
        }
    }
}