.cart__container {
    max-width: 1210px;
    margin: 32px auto;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 3px 6px 1px rgb(0 0 0 / 20%);

    &__totalPrice {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 auto;
        padding: 24px;

        h3 {
            margin-bottom: 0;
        }

        p {
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            margin: 0 30px;
        }
    }

    &__buttons {
        padding: 16px;
        display: flex;
        justify-content: space-between;

        button {
            margin: 0 24px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .cart__container {
        &__totalPrice {
            justify-content: space-around;

            p {
                margin: 0;
            }
        }

        &__buttons {
            flex-direction: column-reverse;
            row-gap: 20px;

            button {
                margin: 0;
            }
        }
    }
}