.cart__container {
    max-width: 1210px;
    margin: 32px auto;
    padding: 0 16px;
    border-radius: 6px;
    box-shadow: 0 3px 6px 1px rgb(0 0 0 / 20%);
}

.cart__container__totalPrice {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-areas: "total totalPrice ...";
    align-items: center;
    margin: 0 auto;
    padding: 24px;

    h3 {
        grid-area: total;
        justify-self: end;
        margin-bottom: 0;
    }

    p {
        grid-area: totalPrice;
        font-size: 26px;
        text-align: center;
        margin-bottom: 0;
    }
}

.cart__container__buttons {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;

    button {
        margin: 0 24px;
    }
}