.home__sections {
    max-width: 1140px;
    margin: 40px auto;
    padding: 0 16px;
}

.home__title {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

    h5 {
        font-size: 24px;
    }

    a {
        font-size: 18px;
        text-decoration: none;
        color: black;

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}

.home__products {
    display: flex;
    justify-content: space-between;
}