.navbar {
    height: 75px;
    background-color: #ef3829;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.navbar__links {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.navbar__logo {
    margin: 0 0 7px 10px;
    width: 85px;
}

.navbar__menus {
    padding-left: 40px;
}

.navbar__menu {
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 24px 10px;

    &:hover {
        background-color: #da262c;
        color: white;
    }
}