.emptyCart {
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        margin-bottom: 32px;
    }

    &__links {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        button {
            background-color: #ef3829;

            &:hover {
                background-color: #C22020;
            }

            .emptyCart__link {
                color: white;
                text-decoration: none;
                margin: 0 15px;
            }
        }
    }
}

@media screen and (max-width: 485px) {
    .emptyCart__links {
        flex-direction: column;
        gap: 20px 0;
    }
}